# APPEND FUNCTION
* The append function method is used to add element at the end of the list.

In [8]:
a1=[2,3,4,5,6,]
print(a1)

[2, 3, 4, 5, 6]

In [9]:
a1.append(7)
a1

[2, 3, 4, 5, 6, 7]

# REMOVE FUNCTION
 * The remove function method removes a given element from the list.

In [10]:
a2=['orange','papaya','banana','mango']
a2

['orange', 'papaya', 'banana', 'mango']

In [11]:
a2.remove("banana")

In [12]:
a2

['orange', 'papaya', 'mango']

 # COUNT FUNCTION
 * The count function method returns the count of the occurrences of a given element in a list.

In [16]:
a3=['apple','mango','papaya','cherry','banana','apple']

In [17]:
a3

['apple', 'mango', 'papaya', 'cherry', 'banana', 'apple']

In [18]:
a3.count("mango")

1

In [19]:
a3

['apple', 'mango', 'papaya', 'cherry', 'banana', 'apple']

In [20]:
a3.count("apple")

2

 # CLEAR FUNCTION
 * Clear function method removes all items from the list making it an empty list.

In [21]:
a4=[1,2,3,4,5,6]
a4

[1, 2, 3, 4, 5, 6]

In [22]:
a4.clear()

In [23]:
a4

[]

 # EXTEND FUNCTION
 * The extend function method adds items of at the and of a list.

In [24]:
bikes=["BMW","YAHAMA","KAWASAKI","BUGATI"]

In [25]:
other_bikes=["HAYABUSA", "ROYAL ENFIELD"]

In [26]:
bikes.extend(other_bikes)

In [27]:
bikes

['BMW', 'YAHAMA', 'KAWASAKI', 'BUGATI', 'HAYABUSA', 'ROYAL ENFIELD']

 # INSERT FUNCTION
 * Insert function method inserts an item at a specific index in a list.

In [28]:
fruits=["banana","cherry","mango"]
fruits

['banana', 'cherry', 'mango']

In [29]:
fruits.insert(2,"apple")
fruits

['banana', 'cherry', 'apple', 'mango']

 # SORT FUNCTION
 * Sort function method sort the element of a list. It sorts in ascending order or descending order.

In [30]:
num=[30,45,20,40,10,50,25,15,35]
num

[30, 45, 20, 40, 10, 50, 25, 15, 35]

In [31]:
num.sort()
num

[10, 15, 20, 25, 30, 35, 40, 45, 50]

In [32]:
num.sort(reverse=True)
num

[50, 45, 40, 35, 30, 25, 20, 15, 10]

 # MIN FUNCTION
 * Min function returns the smallest element.

In [33]:
num

[50, 45, 40, 35, 30, 25, 20, 15, 10]

In [34]:
small = min(num)
print(small)

10

 # MAX FUNCTION
 * Max function return the largest element.

In [35]:
num

[50, 45, 40, 35, 30, 25, 20, 15, 10]

In [36]:
large = max(num)
print(large)

50

 # POP FUNCTION
 * Pop function removes element at a specific index from the list.

In [37]:
f1=[23,34,45,56]
f1

[23, 34, 45, 56]

In [38]:
f1.pop()

56