# SET
 * Set are unordered collections of unique elements. They are similar to lists in terms of storing elements, but unlike lists, sets cannot contain duplicate entries.

 * Example:-

In [1]:
S1 = {1,22,74,34,65,75,32,38}

print(type(S1))

print(S1)

<class 'set'>
{32, 65, 34, 1, 38, 74, 75, 22}

 # ADD(+)
 * The 'ADD' fuction is use to add elements in sets.

In [2]:
S2 = {21,34,33,55,2,43}

S2.add('NewValue')

print(S2)

{33, 34, 2, 'NewValue', 21, 55, 43}

# CLEAR()
 * The 'CLEAR' functiontrRemoves all elements from the set, leaving it empty

In [3]:
s3= [12,22,34,56,78,98,990,12,122,234]

s3.clear()

s3

[]

# DIFFERENCE()
 *The 'DIFFERENCE' FUNCTION Returns a new set with elements that are in the set but not in the others.

In [6]:
s1 = {20,40,30,50,43,54,40}

s2 = {20,30,40}

NewSet = s1.difference(s2)

NewSet

{43, 50, 54}

# COPY()
 * The 'COPY' function returns a shallow copy of the set.

In [5]:
s5 = {33,21,34,67,34,17,32,99,20}

s5.copy()

s5

{17, 20, 21, 32, 33, 34, 67, 99}

# DIFFERENCE_UPDATE()
* The 'DIFFERENCE_UPDATE()' function removes elements from the set that are also in the others.

In [7]:
s6 = {22,40,95,80,45,88,33,23}

sn = {22,40,80,45,88}

s6.difference_update(sn)

s6

{23, 33, 95}

# ISDISJOINT()
*The 'ISDISJOINT' methods returns True if the set has no elements in common with other. If the set and other are disjoint, returns False otherwise.

In [8]:
s1 = {55,230,450}

s2 = {51,130,230,150}

s1.isdisjoint(s2)

False

# ISSUBSET()
* The 'ISSUBSET' returns True if all elements of the set are in other, False otherwise.

In [9]:
set1 = {30, 40, 550}

set2 = {50, 30, 40}

set1.issubset(set2)

False

# ISSUPERSET()
*The 'ISSUPERSET' methods returns True if all elements of other are in the set, False otherwise.

In [10]:
set = {30, 40, 50}

newSet = {20, 30, 40}

set.issuperset(newSet)

False

# POP()
*The 'POP' method removes and returns an arbitrary element from the set. Raises KeyError if the set is empty.

In [11]:
set = {243, 420, 34, 42, 334, 648}

set.pop()

set

{42, 243, 334, 420, 648}